@use '../custom' as *;
@use '../components/mixins' as *;

.footer{
    padding-top: 1rem;
    background-color: $footer;
}

// ESTILIZAR EL CONTACT-BOX
.content-box{
    position: relative;
    
    &__icon{
        width: 2rem;
        stroke: $primary;
        padding-top: 0.5rem;
        @include media-breakpoint-up(sm){
            width: 4rem;
        }
    }
    &__info{
        padding: 0.4rem;
        font-weight: 600;
        &--title{
            color: $white;
            text-decoration: none;
            font-size: 1rem;
            @include media-breakpoint-up(lg){
                font-size: 1.3rem;
            }
        }
        &--subtitle{
            font-size: 0.8rem;
            color: $gray-600;
            text-decoration: none;
            @include media-breakpoint-up(md){
                font-size: 1rem;
            }
        }
    }
}

.footer-sm{
    background-color: $footer;
    a{
        color: $white;
        
        i{
            font-size: 1rem;
            margin-left: 1rem;

            @include media-breakpoint-up(sm){
                font-size: 1.7rem;
            }
        }
    }
}

// contenido de los redes sociales
