@use '../custom' as *;
@use '../components/mixins' as *;
.menu {
    @include gradient;

    li {
        padding: 0 0.7rem;
    }
    a{
        color: $white !important;
        text-transform: capitalize;
        font-weight: 600;
    }
    .logo-letras{
        color: black;
        font-weight: 700;
        font-size: 1.5rem;
    }
}

//prueba quitar fondo blanco
html{
    background-color: $negro-gris;
}