@use '../custom' as *;
.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    &--intro {
        display: inline-block;
        font-weight: 700;
        color: black;
        font-family: 'Poppins', sans-serif;
    }
    &--description{
        font-size: 1rem;
        display: block;
        color: white;
        margin-top: 1.2rem;
        text-transform: none;

        //primero nos enfocamos en dispositivos pequenos y ahora este media para dispositivos grandes
        @include media-breakpoint-up(lg){
            font-size: 1.4rem;
            display: inline-block;
        }
    }
}

//quitar, prueba temporal de our-services
.lenguajes, .our-services, .list-group-item{
    color: white;
    background-color: $negro-gris;
    border: 0;//checar si lo quito
}

//linea del heading
.heading-line::before{
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
}
.heading-line::after{
    content: "";
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
}

.display-3{
    font-family: 'Poppins', sans-serif;

    &--title{
        font-size: 1.2rem;
        text-transform: capitalize;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        // investigar desde aqui como se hizo eso al texto
        display: inline-block;
        background-image: linear-gradient(to right, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include media-breakpoint-up(lg){
            font-size: 1.8rem;
        }
    }
}

// borde al lado de las skills
.border-right{
    border-right: 0.1rem solid $purple-light;
    height: 100%;
}